<%-include("partials/header")-%>
<form action="/" method="post">
  <label for="data">enter a sensors value</label>
  <input type="number" name="data" />
  <button type="submit" name="submitBtn">save</button>
</form>

<%-include("partials/footer")-%>
